In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
from datetime import datetime, date
import time
from tqdm import tqdm
import progressbar

In [2]:
bit_forjoin = pd.read_csv(r"C:\Users\Lenovo\OneDrive\빅데이터분석&활용팀플\csv outputs\bit_class_forJoin.csv")  #bit_senti2와 동일할듯
# bit_forjoin

C:\Users\Lenovo\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (4,5,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [9]:
#datetime 변환 확인
print(type(bit_forjoin['only_date'][10]))

<class 'str'>

In [3]:
np.set_printoptions(threshold=np.inf, linewidth=np.inf)

In [4]:
#날짜 고유값 확인
a = bit_forjoin['only_date'].unique()
a.sort()
for i in tqdm(range(1)):
    print(a)
print(len(a))

100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 970.01it/s]

['2021-02-05' '2021-02-06' '2021-02-07' '2021-02-08' '2021-02-09' '2021-02-10' '2021-02-13' '2021-02-14' '2021-02-15' '2021-02-18' '2021-02-19' '2021-02-22' '2021-02-28' '2021-03-11' '2021-03-12' '2021-04-05' '2021-04-06' '2021-04-07' '2021-04-08' '2021-04-09' '2021-04-10' '2021-04-11' '2021-04-12' '2021-04-17' '2021-04-18' '2021-04-19' '2021-04-20' '2021-04-21' '2021-04-22' '2021-04-23' '2021-04-24' '2021-05-25' '2021-05-26' '2021-05-27' '2021-05-28' '2021-05-29' '2021-06-20' '2021-06-21' '2021-06-22' '2021-06-23' '2021-07-02' '2021-07-03' '2021-07-04' '2021-07-05' '2021-07-16' '2021-07-17' '2021-07-18' '2021-07-19' '2021-07-20' '2021-07-21' '2021-07-22' '2021-07-23' '2021-07-24' '2021-07-25' '2021-07-26' '2021-07-27' '2021-07-28' '2021-07-29' '2021-07-30' '2021-08-04' '2021-08-05' '2021-08-06' '2021-08-07' '2021-08-08' '2021-08-09' '2021-08-14' '2021-08-15' '2021-08-16' '2021-08-17' '2021-08-18' '2021-08-19' '2021-08-20' '2021-08-21' '2021-08-23' '2021-08-24' '2021-08-25' '2021-08-26' '2021-09-10' '2021-10-18' '2021-10-19' '2021-10-20' '2021-10-21' '2021-10-22' '2021-10-23' '2021-10-27' '2021-10-28' '2021-10-29' '2021-11-04' '2021-11-05' '2021-11-06' '2021-11-11' '2021-11-12' "['Bitcoin'" "['ETH', 'B" "['PW', 'py" "['YieldFar" "['bitcoin'" "['btc']" "['cryptocu" "['cryptotr"]
100

## 여기서부터 시작

In [1]:
import pandas as pd
import numpy as np

In [2]:
cleantwitt = pd.read_csv(r"C:\Users\Lenovo\OneDrive\빅데이터분석&활용팀플\csv outputs\3col_1.csv", index_col =0)
cleantwitt

          date  subjectivity  polarity
0   2021-02-05      0.243801  0.084413
1   2021-02-06      0.257014  0.097354
2   2021-02-07      0.326438  0.144448
3   2021-02-08      0.249640  0.091342
4   2021-02-09      0.245403  0.092980
..         ...           ...       ...
87  2021-11-04      0.349635  0.169745
88  2021-11-05      0.355022  0.165330
89  2021-11-06      0.351870  0.167605
90  2021-11-11      0.333200  0.148472
91  2021-11-12      0.347929  0.158708

[92 rows x 3 columns]

In [3]:
print(cleantwitt['date'][0])
print(cleantwitt['date'][20])

2021-02-05
2021-04-10

In [4]:
for i in range(92):
    str_date = cleantwitt['date'][i]
    cleantwitt['date'][i] = pd.to_datetime(str_date, format = '%Y-%m-%d').date()
    
cleantwitt

C:\Users\Lenovo\AppData\Local\Temp/ipykernel_2004/3104185088.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleantwitt['date'][i] = pd.to_datetime(str_date, format = '%Y-%m-%d').date()

          date  subjectivity  polarity
0   2021-02-05      0.243801  0.084413
1   2021-02-06      0.257014  0.097354
2   2021-02-07      0.326438  0.144448
3   2021-02-08      0.249640  0.091342
4   2021-02-09      0.245403  0.092980
..         ...           ...       ...
87  2021-11-04      0.349635  0.169745
88  2021-11-05      0.355022  0.165330
89  2021-11-06      0.351870  0.167605
90  2021-11-11      0.333200  0.148472
91  2021-11-12      0.347929  0.158708

[92 rows x 3 columns]

In [5]:
#변환 타입 확인
cleantwitt2 = cleantwitt
print(type(str_date))
print(type(cleantwitt2['date'][10]))

<class 'str'>
<class 'datetime.date'>

In [6]:
cleantwitt2['date'] = cleantwitt2['date'].astype(str)

In [11]:
import yfinance as yf

In [12]:
bitprice = yf.download('BTC-USD', start ='2021-02-05', end ='2021-11-13')
bitprice.reset_index(drop = False, inplace = True)
print(type(bitprice['Date'][4]))
bitprice

[*********************100%***********************]  1 of 1 completed
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-02-04,37475.105469,38592.175781,36317.500000,36926.066406,36926.066406,68838074392
1,2021-02-05,36931.546875,38225.906250,36658.761719,38144.308594,38144.308594,58598066402
2,2021-02-06,38138.386719,40846.546875,38138.386719,39266.011719,39266.011719,71326033653
3,2021-02-07,39250.191406,39621.835938,37446.152344,38903.441406,38903.441406,65500641143
4,2021-02-08,38886.828125,46203.929688,38076.324219,46196.464844,46196.464844,101467222687
...,...,...,...,...,...,...,...
277,2021-11-08,63344.066406,67673.742188,63344.066406,67566.828125,67566.828125,41125608330
278,2021-11-09,67549.734375,68530.335938,66382.062500,66971.828125,66971.828125,42357991721
279,2021-11-10,66953.335938,68789.625000,63208.113281,64995.230469,64995.230469,48730828378
280,2021-11-11,64978.890625,65579.015625,64180.488281,64949.960938,64949.960938,35880633236
281,2021-11-12,64863.980469,65460.816406,62333.914062,64155.941406,64155.941406,36084893887

In [13]:
bitprice2 = bitprice
bitprice2['Date'] =bitprice2.Date.astype(str)
print(bitprice2['Date'])
bitprice2

0      2021-02-04
1      2021-02-05
2      2021-02-06
3      2021-02-07
4      2021-02-08
          ...
277    2021-11-08
278    2021-11-09
279    2021-11-10
280    2021-11-11
281    2021-11-12
Name: Date, Length: 282, dtype: object

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-02-04,37475.105469,38592.175781,36317.500000,36926.066406,36926.066406,68838074392
1,2021-02-05,36931.546875,38225.906250,36658.761719,38144.308594,38144.308594,58598066402
2,2021-02-06,38138.386719,40846.546875,38138.386719,39266.011719,39266.011719,71326033653
3,2021-02-07,39250.191406,39621.835938,37446.152344,38903.441406,38903.441406,65500641143
4,2021-02-08,38886.828125,46203.929688,38076.324219,46196.464844,46196.464844,101467222687
...,...,...,...,...,...,...,...
277,2021-11-08,63344.066406,67673.742188,63344.066406,67566.828125,67566.828125,41125608330
278,2021-11-09,67549.734375,68530.335938,66382.062500,66971.828125,66971.828125,42357991721
279,2021-11-10,66953.335938,68789.625000,63208.113281,64995.230469,64995.230469,48730828378
280,2021-11-11,64978.890625,65579.015625,64180.488281,64949.960938,64949.960938,35880633236
281,2021-11-12,64863.980469,65460.816406,62333.914062,64155.941406,64155.941406,36084893887

In [14]:
#되긴되는데...이럴거면 트윗데이터 date를 뭐하러 datetime으로 바꾸느라...눙물..
leftJoin = pd.merge(cleantwitt2, bitprice2, left_on = 'date', right_on ='Date', how = 'left')
leftJoin

,date,subjectivity,polarity,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-02-05,0.243801,0.084413,2021-02-05,36931.546875,38225.906250,36658.761719,38144.308594,38144.308594,58598066402
1,2021-02-06,0.257014,0.097354,2021-02-06,38138.386719,40846.546875,38138.386719,39266.011719,39266.011719,71326033653
2,2021-02-07,0.326438,0.144448,2021-02-07,39250.191406,39621.835938,37446.152344,38903.441406,38903.441406,65500641143
3,2021-02-08,0.249640,0.091342,2021-02-08,38886.828125,46203.929688,38076.324219,46196.464844,46196.464844,101467222687
4,2021-02-09,0.245403,0.092980,2021-02-09,46184.992188,48003.722656,45166.960938,46481.105469,46481.105469,91809846886
...,...,...,...,...,...,...,...,...,...,...
87,2021-11-04,0.349635,0.169745,2021-11-04,62941.804688,63123.289062,60799.664062,61452.230469,61452.230469,32615846901
88,2021-11-05,0.355022,0.165330,2021-11-05,61460.078125,62541.468750,60844.609375,61125.675781,61125.675781,30605102446
89,2021-11-06,0.351870,0.167605,2021-11-06,61068.875000,61590.683594,60163.781250,61527.480469,61527.480469,29094934221
90,2021-11-11,0.333200,0.148472,2021-11-11,64978.890625,65579.015625,64180.488281,64949.960938,64949.960938,35880633236
91,2021-11-12,0.347929,0.158708,2021-11-12,64863.980469,65460.816406,62333.914062,64155.941406,64155.941406,36084893887

In [16]:
leftJoin.to_csv(r"C:\Users\Lenovo\OneDrive\빅데이터분석&활용팀플\csv outputs\join_complete.csv")